body {
    font: 100%/1.5 system-ui; /* 100% font size, 1.5 line height, system font. Same as in lab 1 */
    max-width: 100ch; /* Limits width to 50 rems for better readability */
    margin-inline: 10% 10%;
    writing-mode: horizontal-tb;
    padding: 10em;
}

p {
    margin-bottom: 2em;
}