body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: 5% 5%;
    writing-mode: horizontal-tb;
    padding: 1em; 
}

nav a.current {
    font-weight: bold;
    color: #333;
    text-decoration: underline;
    /* or whatever styling you prefer */
}

nav {
    display: flex;
}

nav a {
    flex: 1;
    text-decoration: none; /* Remove underline */
    color: inherit; /* Use parent text color */
    text-align: center; /* Center the text */
    padding: 0.5em; /* Add spacing */
}

p {
    margin-bottom: 2em;
}