body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: 5% 5%;
    writing-mode: horizontal-tb;
    padding: 1em; 
}

nav {
    display: flex;
}

nav a {
    flex: 1;
}

p {
    margin-bottom: 2em;
}