body {
    font: 100%/1.5 system-ui; /* 100% font size, 1.5 line height, system font. Same as in lab 1 */
    max-width: 50rem; /* Limits width to 50 rems for better readability */
    /* Add here margin-inline */
    /* Add here padding around the body */
}